-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: siliak_pusat_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `national_telemetry`
--

DROP TABLE IF EXISTS `national_telemetry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `national_telemetry` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `mgmp_id` varchar(50) NOT NULL,
  `domain` varchar(100) NOT NULL,
  `total_guru` int(11) DEFAULT 0,
  `total_asesor` int(11) DEFAULT 0,
  `total_upload` int(11) DEFAULT 0,
  `total_download` int(11) DEFAULT 0,
  `total_login` int(11) DEFAULT 0,
  `spi_score` int(11) DEFAULT 0,
  `ksi_score` float DEFAULT 0,
  `cs_ekspor` int(11) DEFAULT 0,
  `cs_impor` int(11) DEFAULT 0,
  `cs_internal` int(11) DEFAULT 0,
  `last_sync` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `mgmp_id` (`mgmp_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `national_telemetry`
--

LOCK TABLES `national_telemetry` WRITE;
/*!40000 ALTER TABLE `national_telemetry` DISABLE KEYS */;
INSERT INTO `national_telemetry` VALUES (1,'LIAK-C8E8204E-25AE','localhost',24,0,0,0,1,1,0.04,0,0,0,'2026-06-27 00:45:50','2026-06-21 19:33:28'),(3,'LIAK-672A1DF8-2AF0','localhost',24,0,5,12,33,92,3.83,9,7,3,'2026-06-24 05:06:36','2026-06-22 16:27:57'),(6,'LIAK-F66C8EBB-220C','localhost',1,0,5,0,1,36,36,0,0,0,'2026-06-24 17:53:16','2026-06-24 15:53:16');
/*!40000 ALTER TABLE `national_telemetry` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-27 10:25:54
